 
# Node modules  
node_modules/  
# Environment variables  
.env  
# Build folders  
frontend/build/  
backend/dist/  
backend/node_modules/  
frontend/node_modules/  
# Logs  
*.log  
logs/  
# Cache  
.cache/  
# Editor files  
.vscode/  
.idea/  
# OS-specific files  
.DS_Store  
Thumbs.db  
